<!DOCTYPE html>
<html>

<head>
    <title>Nasa Space</title>
</head>

<body>
    <h1></h1>

    <form action="/" method="post">
        <fieldset>
            <legend>Form</legend>
            <label for="year">year :</label>
            <input type="number" name="year" /><br /><br />
            <label for="day">day</label>
            <input type="number" name="day" /><br /><br />
            <label for="hour">hour</label>
            <input type="number" name="hour" /><br /><br />
            <label for="lat">lat</label>
            <input type="number" name="lat" /><br /><br />
            <label for="long">long</label>
            <input type="number" name="long" /><br /><br />
            <label for="magnitude">magnitude</label>
            <input type="number" name="magnitude" /><br /><br />
            
            <input type="submit" value="submit" />
        </fieldset>
    </form>
</body>

</html>