<h1>HI there</h1>
<h1> <%= user.firstName %> </h1>
    <form action="/" method="POST">
        <div>
            <input type="text" name="location">
        </div>
        <input type="submit" value="submit" />

    </form>

<!-- <form action="http://localhost:3015/location" method="POST">
    <legend>Reset Password</legend>
    <div class="form-group">
        <input type="password" name="password" value="" placeholder="New password" id="password" autofocus="autofocus"
            class="form-control" />
    </div>
    <div class="form-group">
        <input type="password" name="confirm" value="" placeholder="Confirm password" id="confirm"
            class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Password</button>
    </div>
</form> -->